/* Architects Daughter */
@font-face {
  font-family: 'Architects Daughter';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/architects-daughter-v6-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Architects Daughter'), local('ArchitectsDaughter'),
       url('fonts/architects-daughter-v6-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/architects-daughter-v6-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/architects-daughter-v6-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('fonts/architects-daughter-v6-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/architects-daughter-v6-latin-regular.svg#ArchitectsDaughter') format('svg'); /* Legacy iOS */
}

/* Icons */
@font-face {
  font-family: 'icons';
  src:url('fonts/icons.eot?-h4zi7j');
  src:url('fonts/icons.eot?#iefix-h4zi7j') format('embedded-opentype'),
    url('fonts/icons.ttf?-h4zi7j') format('truetype'),
    url('fonts/icons.woff?-h4zi7j') format('woff'),
    url('fonts/icons.svg?-h4zi7j#icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-reload:before {
  content: "\e603";
}
.icon-enlarge:before {
  content: "\e604";
}
.icon-shrink:before {
  content: "\e605";
}
.icon-settings:before {
  content: "\e606";
}
.icon-trophy:before {
  content: "\e607";
}
.icon-list-numbered:before {
  content: "\e608";
}
.icon-hand-up:before {
  content: "\e612";
}
.icon-question:before {
  content: "\e609";
}
.icon-info:before {
  content: "\e60a";
}
.icon-play-circle:before {
  content: "\e60c";
}
.icon-pause-circle:before {
  content: "\e60d";
}
.icon-play:before {
  content: "\e60e";
}
.icon-pause:before {
  content: "\e60f";
}
.icon-arrow-up:before {
  content: "\e600";
}
.icon-arrow-right:before {
  content: "\e615";
}
.icon-arrow-down:before {
  content: "\e601";
}
.icon-arrow-left:before {
  content: "\e616";
}
.icon-arrow-thin-up:before {
  content: "\e602";
}
.icon-arrow-thin-right:before {
  content: "\e617";
}
.icon-arrow-thin-down:before {
  content: "\e60b";
}
.icon-arrow-thin-left:before {
  content: "\e618";
}
.icon-circle-up:before {
  content: "\e610";
}
.icon-circle-right:before {
  content: "\e619";
}
.icon-circle-down:before {
  content: "\e611";
}
.icon-circle-left:before {
  content: "\e61a";
}
