@import 'fonts';

* {
	box-sizing: border-box;
	-webkit-user-select: none;
}

body {
	font-family: 'Architects Daughter', cursive;
	padding: 0;
	margin: 0;
}

.game-area {
	width: 800px;
	margin: 0 auto;
	margin-top: 20px;
	position: relative;
}

.testing {
	text-align: center;
	width: 800px;
	padding: 10px;
	margin: 0 auto;
}

.menu {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	text-align: center;

	.overlay {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;

		&.dark {
			background-color: rgba(0, 0, 0, 0.3);
		}
	}

	.title {
		margin-top: 100px;
		margin-bottom: 50px;
		color: #FFF;
		font-size: 46px;
		text-shadow: 0 0 10px #000;
		position: relative;
		cursor: default;
	}

	.text {
		max-width: 90%;
	    margin: 0 auto;
	    margin-bottom: 50px;
	    position: relative;

	    p {
			font-size: 22px;
		}
	}

	.blank-state {
		font-size: 22px;
		margin-bottom: 50px;
		display: inline-block;
		position: relative;
	}

	ul {
		position: relative;
	}

	.wrapper {
		position: relative;
		padding-bottom: 20px;
		max-width: 550px;
		margin: 0 auto;
		overflow: hidden;
		margin-top: 75px;

		.title {
			margin-top: 25px!important;
		}
	}
}

#gameOverMenu {
	.title {
		margin-bottom: 25px;
		margin-top: 15px!important;
	}

	.info {
		text-shadow: 0 0 10px #000;
		margin-top: 15px;
		margin-bottom: 50px;
	}

	h2 {
		margin-top: 0;
		font-size: 26px;
		color: #FFF;
		margin-bottom: 10px;
		font-weight: normal;
	}

	.score {
		font-size: 36px;
		color: #FFF;
		font-weight: bold;
		margin-left: 12px;
	}

	ul {
		margin-top: 40px;
	}
}

.menu-buttons {
	list-style: none;
	padding: 0;

	li {
		background: peachpuff;
		background: linear-gradient(to bottom, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
		padding: 10px 50px;
		border-radius: 10px;
		cursor: pointer;
		text-align: center;
		display: block;
		max-width: 300px;
		font-size: 22px;
		margin: 0 auto;
		margin-bottom: 25px;

		&:hover,
		&:focus {
			background-color: #F9C08E;
			box-shadow: 0 0 15px #222;
		}	

		&:active {
			background: linear-gradient(to bottom, #feb645 100%, #f1e767 0%)!important;
		}
	}
}

.hidden {
	display: none !important;
	// visibility: hidden;
}

.pause-btn {
	padding: 0;
	background: peachpuff;
	background: linear-gradient(to bottom, #f1e767 0%, #feb645 100%);
	border-radius: 20px;
	text-align: center;
	display: inline-block;
	position: absolute;
	top: 5px;
	right: 5px;
	cursor: pointer;
	font-size: 24px;
	width: 40px;
	height: 40px;
	padding-top: 6px;
	padding-left: 1px;

	&:hover,
	&:focus {
		background-color: #F9C08E;
		box-shadow: 0 0 15px #222;
	}	

	&:active {
		background: linear-gradient(to bottom, #feb645 100%, #f1e767 0%)!important;
	}
}

#hud {
	position: absolute;
    left: 0;
    right: 0;
    top: 0;
    font-size: 20px;
    padding: 5px 10px 0 10px;
    cursor: default;

	ul {
		padding: 0 5px;
		margin: 0;
		list-style: none;

	    color: #FFF;
	    text-shadow: 0 2px 2px #000;
	}

	li {
	    display: inline-block;
	    margin-right: 15px;
	    min-width: 120px;

	    span {
	    	font-weight: bold;
		    font-size: 22px;
	    }

	    &:last-child {
	    	min-width: initial;
	    }
	}
}

.odometer.odometer-auto-theme, .odometer.odometer-theme-default {
	font-family: 'Architects Daughter', cursive;
	line-height: normal;
}

#highScoresMenu {
	.title {
		margin-top: 75px;
	    margin-bottom: 25px;
	}

	.list {
		display: block;
	    margin-bottom: 30px;
        min-height: 150px;

		> div {
			width: 300px;
			margin: 0 auto;
			margin-bottom: 10px;
			border: 2px solid #FFF;
			font-size: 32px;
			color: #FFF;
			text-shadow: 0 0 10px #000;
			font-weight: bold;
		}
	}
}

